[submodule "externals/Terradue.ServiceModel.Syndication"]
	path = externals/Terradue.ServiceModel.Syndication
	url = git@github.com:Terradue/DotNetSyndication.git
[submodule "externals/Terradue.OpenSearch"]
	path = externals/Terradue.OpenSearch
	url = git@github.com:Terradue/DotNetOpenSearch.git
[submodule "externals/Terradue.OpenSearch.GeoJson"]
	path = externals/Terradue.OpenSearch.GeoJson
	url = git@github.com:Terradue/DotNetOpenSearchGeoJson.git
[submodule "externals/Terradue.OpenSearch.Kml"]
	path = externals/Terradue.OpenSearch.Kml
	url = git@github.com:Terradue/DotNetOpenSearchKml.git
[submodule "externals/Terradue.Metadata.EarthObservation"]
	path = externals/Terradue.Metadata.EarthObservation
	url = git@github.com:Terradue/DotNetEarthObservation.git
[submodule "externals/Terradue.ElasticCas.EarthObservation"]
	path = externals/Terradue.ElasticCas.EarthObservation
	url = git@github.com:Terradue/ElasticCas.EO.git
[submodule "externals/Terradue.GeoJson"]
	path = externals/Terradue.GeoJson
	url = git@github.com:Terradue/DotNetGeoJson.git
[submodule "DotNetOpenSearch"]
	path = DotNetOpenSearch
	url = git@github.com:Terradue/DotNetOpenSearch.git
