<?xml version="1.0"?>
<!--
Web.config file for ElasticCas.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://127.0.0.1:8081" />
    <add key="esHost" value="localhost" />
    <add key="esPort" value="9200" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Mono.Addins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <trace enabled="true" localOnly="true" pageOutput="true" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <pages validateRequest="false" />
  <!--	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
	</configSections>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
			<param name="File" value="log/elasticcas.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
		<root>
			<priority value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<category name="my.category">
			<priority value="DEBUG" />
		</category>
	</log4net>-->
</configuration>