<?xml version="1.0"?>
<!--
Web.config file for ElasticCas.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="baseUrl" value="http://127.0.0.1:8081" />
    <add key="ElasticsearchServer" value="http://data.terradue.int:9200" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <customErrors mode="Off" />
  <trace enabled="true" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="30685418" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <pages validateRequest="false" />
</configuration>